/* ** TODOs */
/* 1. Refactor CSS to BEM  */
/* 2. Migrate to SCSS */
/* 3. Add filtered searching functionality */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* *************** */
/* App *********** */

.shopping-cart {
  padding: 25px;
  margin: 0 auto;
  max-width: 640px;
}

/* *************** */
/* Demo title **** */
.shopping-cart .shopping-cart__title {
  margin-bottom: 25px;
  text-align: center;
  text-decoration: underline;
  font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
  font-weight: 200;
  color: lightcoral;
}

/* *************** */
/* Search ********** */

.shopping-cart .filterable-inventory .search-box input {
  padding: 10px 5px;
  border: none;
  width: 100%;
  font-size: 18px;
  outline: none;
  box-shadow: 0px 2px 3px 1px #bbb;
  transition: box-shadow 150ms ease-in-out;
}

.shopping-cart .filterable-inventory .search-box input:focus {
  box-shadow: 0px 5px 10px 3px #cfcfcf;
}

/* ********************** */
/* Inventory & Cart ***** */

.inventory {
  margin-top: 25px;
  margin-bottom: 25px;
}

.inventory table,
.cart table {
  border-collapse: collapse;
  width: 100%;
}

.inventory table thead,
.cart table thead {
  font-weight: bold;
}

.inventory table tr {
  margin: 5px;
}

.inventory table td,
.inventory table td input,
.inventory table td button,
.cart table td {
  padding: 10px;
  border: 2px solid #dddddd;
  font-family: 'Roboto', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #34495e;
}

.inventory table td.inventory-item-qty,
.inventory table td.inventory-item-to-cart {
  padding: 0;
  background-color: none;
}

.inventory table td.inventory-item-to-cart button,
.cart table td.cart-item-remove-btn button {
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  text-align: left;
}

.inventory table td.inventory-item-to-cart button:disabled,
.inventory table td.inventory-item-to-cart button:disabled:hover {
  color: #95a5a6;
}

.inventory table td.inventory-item-to-cart button:hover,
.cart table td.cart-item-remove-btn button:hover {
  color: #2ecc71;
}

.inventory table tbody td input[type="number"] {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}

.inventory table tbody td input[type="number"]::-webkit-inner-spin-button {
  padding-left: 5px;
  margin: -6px 0px;
  opacity: 1;
}

.cart-total-price {
  margin-top: 25px;
  font-family: 'Roboto', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #34495e;
}